* {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
  /* padding-left: 20px;
  padding-right: 20px; */
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0px;
  width: 500px;
  /* padding-left: auto;
  padding-right: auto; */
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  /* font-style: italic; */
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  /* font-family: sans-serif; */
}

h3 {
  font-size: 30px;
  /* font-family: sans-serif; */
  /* line-height: 1.5; */
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 22px;
  /* font-family: sans-serif; */
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  /* font-family: sans-serif; */
  line-height: 1.4;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  /* font-family: sans-serif; */
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  /* background-color: black; */
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
}

/* li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  color: red;
}

li:nth-child(even) {
  color: pink;
} */

/* article p:last-child {
  color: red;
} */
